.register{
    text-align: center;
    padding: 0 5%;
}

form >*{
    margin: 1%;
    
}

form{
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    height: auto;
    box-shadow: 10px 5px 5px silver;

}

.err{
    color: red;
}
